@import "tailwindcss";

@theme {
    --default-font-family: "Montserrat", sans-serif;
}

#inicial {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6;
}

#site-sb {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-items: start;
    background-color: #f3f4f6;
}

#box {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px;
    border-radius: 6px;
    background-color: #d1d5dc;

    @media (width >=48rem
    ) {
        min-width: 462px;
    }
}


#sb {
    display: flex;
    flex-direction: row;
    justify-items: start;
    padding-left: 10px;
    padding-top: 30px;
    gap: 30px;
}